*{
    box-sizing: border-box;
    margin: 0;
}
#root{
    margin: 0 auto;
    max-width: 1200px;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter{
    margin-top: 40px;
    font-size: 110px;

}
.btn-container{
    margin-top: 30px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #0078d4;
    color: #ffffff;
    background-color: #0078d4;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #005a9e;
    border: 1px solid #005a9e;
}

.btn-start{
    background-color: #00851d;
}
.btn-start:hover{
    background-color: #004910;
}
.btn-stop{
    background-color: #d4001c;
}
.btn-stop:hover{
    background-color: #8e0013;
}